{% macro call_to_action(btn_style_full) -%}
<button id="display-join-waitlist-form" class="{{ btn_style_full }}"> Join waitlist </button>
<div
  id="join-waitlist-form"
  class="w-[100%] h-[100%] bg-[#0A0A0A]/50 fixed top-0 left-0 flex items-center justify-center hidden p-4"
>
  <div class="mx-auto w-[30rem] bg-[#0A0A0A] border-2 rounded-lg p-8 border-gray-300 text-left" >
    <div class="flex w-full justify-between mb-8 items-center">
      <h3 class="text-xl">Join our waitlist</h3>
      <button
        id="close-join-waitlist-form"
        class="h-8 w-8 hover:border-2 hover:border-gray-300 hover:scale-120 rounded-lg cursor-pointer"
      >
        <i class="fa-solid fa-xmark text-2xl"></i>
        <span class="sr-only">Close</span>
      </button>
    </div>
    <p class="text-white mb-4"> 
      Be the first to know when we launch. Get early access to our product.
    </p>
    <form class="space-y-4" id="join-waitlist-submit">
      <div>
        <label for="firstname">
          First name
          <span class="text-red-500 ms-2">*</span>
        </label>
        <input
          required
          class="w-full text-gray-900 bg-gray-200 border-2 rounded-lg focus:border-accent h-[2rem] p-4"
          id="firstname"
          name="firstname"
          type="text"
        />
        <p class="text-sm text-red-500"></p>
      </div>
      <div>
        <label for="lastname">
          Last name
          <span class="text-red-500 ms-2">*</span>
        </label>
        <input
          required
          name="lastname"
          id="lastname"
          type="text"
          class="w-full text-gray-900 bg-gray-200 border-2 rounded-lg focus:border-accent h-[2rem] p-4"
        />
        <p class="text-sm text-red-500 clear-field"></p>
      </div>
      <div>
        <label for="email">
          Email
          <span class="text-red-500 ms-2">*</span>
        </label>
        <input
          required
          type="email"
          name="email"
          id="email"
          class="w-full text-gray-900 bg-gray-200 border-2 rounded-lg focus:border-accent h-[2rem] p-4"
        />
        <p class="text-sm text-red-500 clear-field"></p>
      </div>
      <p class="text-sm">
        Your privacy matters to us, and we will never share or sell your
        information. Read our
        <a href="/privacy-policy#communication-preferences" target="_blank" class="" >
          privacy policy
        </a>
        for more information.
      </p>
      <button type="submit" class="{{ btn_style_full }}"> Join waitlist </button>
    </form>
  </div>
</div>
{%- endmacro %}
