{% extends "layout/guest_layout.html" %}

{% block title %} Support - Bookkeeping {% endblock %}

{% block description %}
<meta name="description" content="Learn how we handle your bookkeeping tasks" />
{% endblock %}

{% block body %}
<div class="mb-8">
  <a href="/support">
    <i class="fa-solid fa-arrow-left text-3xl {{ link_icon_style }}"></i>
  </a>
</div>
<div class="mb-4 flex items-center">
  <i class="fa-solid fa-book text-2xl mr-4"></i>
  <h3 class="font-medium text-xl">Bookkeeping</h3>
</div>
<p class="leading-[1.5]">
  Our software automatically retrieves your business transaction data from
  your connected banking services. Using generative AI, we convert this data
  into journal entries in your Google Sheets. For business users, the entries
  follow a double-entry format that clearly shows the accounts being credited
  and debited. The Google Sheets file is then stored in a folder we
  automatically generate in the Google Drive account linked to the email
  address you used to create your account.
</p>
{% endblock %}

{% block script %} <script type="module" src="/static/dist/default.min.js"></script> {% endblock %}
