@import "tailwindcss";

@layer base {

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

  p,
  a,
  li,
  input,
  button,
  div,
  span,
  textarea {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
}

.sidebar-transition {
  transition: width 0.2s ease-in-out;
}

.dropdown-transition {
  transition:
    max-height 0.2s ease-in-out,
    opacity 0.2s ease-in-out;
}