@import "tailwindcss";

@layer base {
    h1,
    h2,
    h3,
    h4,
    h5 {
        font-family: "Roboto Slab", serif;
        font-optical-sizing: auto;
        font-style: normal;
    }

    p,
    a,
    li,
    input,
    button,
    div,
    span,
    textarea {
        font-family: "Work Sans", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
    }

    .faq-answer {
        max-height: 0;
        overflow: hidden;
        transition:
            max-height 0.3s ease,
            padding 0.3s ease;
        padding-top: 0;
        padding-bottom: 0;
    }
    .faq-item.active .faq-answer {
        max-height: 500px;
        padding-top: 0.5rem;
        padding-bottom: 1rem;
    }
    .faq-icon {
        transition: transform 0.3s ease;
    }
    .faq-item.active .faq-icon {
        transform: rotate(180deg);
    }
}

.sidebar-transition {
    transition: width 0.2s ease-in-out;
}

.dropdown-transition {
    transition:
        max-height 0.2s ease-in-out,
        opacity 0.2s ease-in-out;
}
