{% extends "layout/auth_layout.html" %}

{% block title %} Google Workspace {% endblock %}

{% block description %}
<meta name="description" content="Connect google Workspace accounts" />
{% endblock %}

{% block username %} {{ username }} {% endblock %}

{% block body %}
<h1 class="mb-8">Google Workspace</h1>
<div>
  <h2 class="mb-8">Connect Google Services</h2>
  <form id="connect-google-services-form" class="space-y-2" >
    <div class="flex items-center justify-between">
      <h3>Google Sheet</h3>
      <input type="checkbox" id="googlesheet" name="googlesheet" {% if google_sheet_scope  %} checked {% endif %} />
    </div>
    <div class="flex items-center justify-between">
      <h3>Google Drive</h3>
      <input type="checkbox" id="googledrive" name="googledrive" {% if google_drive_scope %} checked {% endif %} />
    </div>
    <button id="connect-google-services" class="{{ btn_style_full }}" type="submit" > Apply </button>
  </form>
</div>
{% endblock %} 

{% block script %} <script type="module" src="/static/dist/google.min.js"></script> {% endblock %}
