{% extends "root.html" %}
<!--  -->
{% block title %} {% endblock %}
<!--  -->
{% block description %} {% endblock %}
<!--  -->
{% block layout %}
<div class="h-screen gap-4 relative">
  <aside id="sidebar" class="sidebar-transition bg-[#0A0A0A] border-r border-gray-400/50 w-[15rem] fixed z-[1000] top-0 left-0 h-screen flex flex-col overflow-hidden hidden md:block" >
    <div class="p-4 border-b border-gray-600 flex items-center justify-between">
      <div class="flex flex-col gap-2">
        <h1 id="username" class="font-semibold text-lg sidebar-text">
          {% block username %} {% endblock %}
        </h1>
        <p class="sidebar-text">Company XYZ</p>
      </div>
    </div>
    <!-- Sidebar Content -->
    <div class="overflow-hidden p-2">
      <ul class="mt-1 space-y-1">
        <li id="home" class="link {{ hover }}">
          <a href="/home" class="flex items-center gap-2 px-3 py-2 text-sm font-medium" >
            <i class="fa-solid fa-house"></i>
            <span class="sidebar-text">Home</span>
          </a>
        </li>
        <li id="team" class="link {{ hover }}">
          <a href="#" class="flex items-center gap-2 px-3 py-2 text-sm font-medium" >
            <i class="fa-solid fa-user-group"></i>
            <span class="sidebar-text">Team</span>
          </a>
        </li>
        <li id="settings" class="link {{ hover }}">
          <a href="#" class="flex items-center gap-2 px-3 py-2 text-sm font-medium" >
            <i class="fa-solid fa-gear"></i>
            <span class="sidebar-text">Settings</span>
          </a>
        </li>
        <!-- Integrations Dropdown -->
        <li class="dropdown-container">
          <button class="dropdown-trigger w-full flex items-center text-sm justify-between gap-2 px-3 py-2 font-medium d-btn d-btn-banking d-btn-google d-btn-shopping {{ hover }}" >
            <div class="flex items-center gap-2">
              <i class="fa-solid fa-arrows-to-circle"></i>
              <span class="sidebar-text">Integrations</span>
            </div>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-chevron-down sidebar-text dropdown-icon transition-transform"
            >
              <path d="m6 9 6 6 6-6"></path>
            </svg>
          </button>
          <div class="dropdown-content max-h-0 overflow-hidden opacity-0 dropdown-transition" >
            <ul class="pl-7 mt-1 space-y-1 sidebar-submenu">
              <li id="banking" class="link {{ hover }}">
                <a href="/banking" class="flex items-center gap-2 px-3 py-2 text-sm font-medium" >
                  <span>Banking</span>
                </a>
              </li>
              <li id="shopping" class="link {{ hover }}">
                <a href="/shopping" class="flex items-center gap-2 px-3 py-2 text-sm font-medium" >
                  <span>Shopping Platforms</span>
                </a>
              </li>
              <li id="google" class="link {{ hover }}">
                <a href="/google" class="flex items-center gap-2 px-3 py-2 rounded-md text-sm font-medium" >
                  <span>Google Workspace</span>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <!-- Resources Dropdown -->
        <li class="dropdown-container">
          <button class="dropdown-trigger w-full flex items-center text-sm justify-between gap-2 px-3 py-2 font-medium d-btn d-btn-support d-btn-blog d-btn-documentation {{ hover }}" >
            <div class="flex items-center gap-2">
              <i class="fa-solid fa-folder-minus"></i>
              <span class="sidebar-text">Resources</span>
            </div>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-chevron-down sidebar-text dropdown-icon transition-transform"
            >
              <path d="m6 9 6 6 6-6"></path>
            </svg>
          </button>
          <div class="dropdown-content max-h-0 overflow-hidden opacity-0 dropdown-transition" >
            <ul class="pl-7 mt-1 space-y-1 sidebar-submenu">
              <li id="documentation" class="{{ hover }}">
                <a href="#" class="flex items-center gap-2 px-3 py-2 text-sm font-medium" >
                  <span>Documentation</span>
                </a>
              </li>
              <li id="blog" class="{{ hover }}">
                <a href="#" class="flex items-center gap-2 px-3 py-2 text-sm font-medium" >
                  <span>Blog</span>
                </a>
              </li>
              <li id="support" class="link {{ hover }}">
                <a href="/support" class="flex items-center gap-2 px-3 py-2 text-sm font-medium" >
                  <span>Support</span>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <!-- Legal Dropdown -->
        <li class="dropdown-container">
          <button class="dropdown-trigger w-full flex items-center text-sm justify-between gap-2 px-3 py-2 font-medium d-btn d-btn-terms-of-service d-btn-privacy-policy {{ hover }}" >
            <div class="flex items-center gap-2">
              <i class="fa-solid fa-scale-balanced"></i>
              <span class="sidebar-text">Legal</span>
            </div>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-chevron-down sidebar-text dropdown-icon transition-transform"
            >
              <path d="m6 9 6 6 6-6"></path>
            </svg>
          </button>
          <div class="dropdown-content max-h-0 overflow-hidden opacity-0 dropdown-transition" >
            <ul class="pl-7 mt-1 space-y-1 sidebar-submenu">
              <li id="terms-of-service" class="link {{ hover }}">
                <a href="/terms-of-service" class="flex items-center gap-2 px-3 py-2 text-sm font-medium" >
                  <span>Terms of Service</span>
                </a>
              </li>
              <li id="privacy-policy" class="link {{ hover }}">
                <a href="/privacy-policy" class="flex items-center gap-2 px-3 py-2 text-sm font-medium" >
                  <span>Privacy Policy</span>
                </a>
              </li>
              <li id="cookie-policy" class="{{ hover }}">
                <a href="/privacy-policy#cookie-policy" class="flex items-center gap-2 px-3 py-2 text-sm font-medium" >
                  <span>Cookie Policy</span>
                </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
    <!-- Sidebar Footer -->
    <div class="p-4 fixed bottom-0">
      <a href="/sign-out" class="flex items-center gap-2 px-3 text-sm py-2">
        <i class="fa-solid fa-right-from-bracket text-red-500"></i>
        <span class="sidebar-text text-red-500">Sign out</span>
      </a>
    </div>
  </aside>
  <div id="authlayout-div" class="z-10 md:ml-[16rem]">
    <button id="toggle-sidebar-btn" class="rounded-md bg-[#0065FA]/90 p-2 m-4 flex items-center gap-2 fixed" >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="20"
        height="20"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-panel-left"
      >
        <rect width="18" height="18" x="3" y="3" rx="2" ry="2"></rect>
        <line x1="9" x2="9" y1="3" y2="21"></line>
      </svg>
    </button>
    <div class="px-4 pt-20 pb-8 z-20 md:mr-[10%] lg:mr-[10%] xl:mr-[20%] 2xl:mr-[30%]" >
      {% block body %} {% endblock %}
    </div>
  </div>
</div>
{% endblock %}
<!--  -->
{% block script %} {% endblock %}
