{% extends "root.html" %}
{% block description %}{% endblock %}
{% block layout%}
<div class=" ">
  <nav class="bg-[#dceee0] p-8">
    <div class="flex items-center justify-between">
      <div class="flex justify-around gap-10">
        <a href="/">
          <div class="flex items-center justify-center">
            <div class="flex h-[1rem] items-center">
              <svg viewBox="0 0 128 122" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-auto h-full">
                <path
                  d="M10 0C4.47715 -4.82823e-07 4.82823e-07 4.47715 0 10C-4.82823e-07 15.5228 4.47715 20 10 20L10 0ZM10 20L38.7234 20L38.7234 2.51108e-06L10 0L10 20Z"
                  fill="#0065FA"></path>
                <path d="M45.689 10H82.1677" stroke="#0065FA" stroke-width="20"></path>
                <path d="M65.2925 22.0635V48.489" stroke="#0065FA" stroke-width="20"></path>
                <path
                  d="M55.2925 111.681C55.2925 117.204 59.7696 121.681 65.2925 121.681C70.8153 121.681 75.2925 117.204 75.2925 111.681H55.2925ZM55.2925 56.6758V111.681H75.2925V56.6758H55.2925Z"
                  fill="#0065FA"></path>
                <path d="M31.2554 10.0718H45.7966H60.3378" stroke="#0065FA" stroke-width="10"></path>
                <path d="M74.4841 10H89.0254H103.567" stroke="#0065FA" stroke-width="10"></path>
                <path d="M65.3645 13.0161V27.5573V42.0986" stroke="#0065FA" stroke-width="10"></path>
                <path d="M65.436 42.1699V56.7111V71.2524" stroke="#0065FA" stroke-width="10"></path>
                <path
                  d="M118 20C123.523 20 128 15.5228 128 10C128 4.47715 123.523 0 118 0V20ZM89.2766 20H118V0H89.2766V20Z"
                  fill="#0065FA"></path>
              </svg>
              <h3 class="text-xl ms-2">Thinkledger</h3>
            </div>
            <div class="ms-2 h-[1rem]">
              <svg viewBox="0 0 240 120" xmlns="http://www.w3.org/2000/svg" class="w-auto h-full">
                <path d="M20 80 L40 40 L80 20 L100 60 L120 100 L140 40 L160 20 L180 70 L200 100 L220 30"
                  stroke="#0065FA" fill="none" stroke-width="15" stroke-linejoin="miter" stroke-dasharray="1000"
                  stroke-dashoffset="1000">
                  <animate attributeName="stroke-dashoffset" from="1000" to="0" dur="1.5s" fill="freeze" begin="0.5s"
                    calcMode="spline" keySplines="0.4 0 0.2 1" repeatCount="indefinite"></animate>
                </path>
              </svg>
            </div>
          </div>
        </a>
        <div class="flex gap-3 items-center max-md:hidden">
          <div class="flex items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="lucide lucide-command-icon lucide-command">
              <path d="M15 6v12a3 3 0 1 0 3-3H6a3 3 0 1 0 3 3V6a3 3 0 1 0-3 3h12a3 3 0 1 0-3-3" />
            </svg>
            <select name="products" id="products">
              <option value="products" class="bg-inherit text-inherit">Products</option>
            </select>
          </div>
          <a class="flex items-center gap-1">
            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="lucide lucide-coffee-icon lucide-coffee">
              <path d="M10 2v2" />
              <path d="M14 2v2" />
              <path d="M16 8a1 1 0 0 1 1 1v8a4 4 0 0 1-4 4H7a4 4 0 0 1-4-4V9a1 1 0 0 1 1-1h14a4 4 0 1 1 0 8h-1" />
              <path d="M6 2v2" />
            </svg>
            <p>Blog</p>
          </a>
          <a class="flex items-center gap-1">
            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="lucide lucide-dollar-sign-icon lucide-dollar-sign">
              <line x1="12" x2="12" y1="2" y2="22" />
              <path d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6" />
            </svg>
            <p>Pricing</p>
          </a>
        </div>
      </div>
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="lucide lucide-align-justify-icon lucide-align-justify md:hidden">
        <path d="M3 12h18" />
        <path d="M3 18h18" />
        <path d="M3 6h18" />
      </svg>
    </div>
  </nav>
  <div class=" min-h-[50vh]">{% block body %} {% endblock %}</div>
  <footer class="mt-24 bg-[#8cb396] p-4">
    <div class="my-4">
      <h3 class="text-3xl font-bold md:text-4xl">Thinkledger</h3>
      <div class="flex items-center gap-2">
        <a href="#"><img src="/static/assets/gmail-icon.svg" alt="gmail-icon" loading="lazy" /></a>
        <a href="#"><img src="/static/assets/linkedIn-icon.svg" alt="linkedIn-icon" loading="lazy" /></a>
        <a href="#"><img src="/static/assets/instagram-icon.png" alt="instagram-icon" loading="lazy" /></a>
        <a href="#"><img src="/static/assets/x-icon.svg" alt="x-icon" loading="lazy" /></a>
      </div>
    </div>
    <div class="grid grid-cols-2 md:grid-cols-2 lg:grid-cols-4 gap-8">
      <div>
        <h3 class="text-lg font-semibold mb-4 md:text-xl">Legal</h3>
        <ul class="space-y-2">
          <li>
            <a href="/privacy-policy" class="hover:text-gray-300 md:text-lg"> Privacy Policy </a>
          </li>
          <li>
            <a href="/terms-of-service" class="hover:text-gray-300 md:text-lg"> Terms of Service </a>
          </li>
          <li>
            <a href="/privacy-policy#cookie-policy" class="hover:text-gray-300 hover:cursor-pointer md:text-lg"> Cookie
              Policy </a>
          </li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold mb-4 md:text-xl">Resources</h3>
        <ul class="space-y-2">
          <li>
            <a href="/support" class="hover:text-gray-300 md:text-lg">Blog </a>
          </li>
          <li>
            <a href="/support" class="hover:text-gray-300 md:text-lg">Documentation</a>
          </li>
        </ul>
      </div>

    </div>
    <div class="mt-8 pt-8 text-center">
      <p class="text-sm md:text-md"> 2025 Copyright &copy; ThinkLedger</p>
    </div>
  </footer>
</div>
{% endblock %}